<h2>Congratulations</h2>
<div>
    You completed level <span>{{currentLevel}}</span>.
</div>
<div>
    <div>
        Diamonds - <span>{{levelsCompleted.[0].score.diamondsUsed}}</span>
    </div>
    <div>
        Path length - <span>{{levelsCompleted.[0].score.pathLength}}</span>
    </div>
    <div>
        Completed on - <span>{{levelsCompleted.[0].completedOn}}</span>
    </div>
</div>
<div>
    User Name : <input type="text" class="form-control" value="{{playerName}}">
</div>
<div>
    You completed all levels. Congratulations.
</div>